body {
     margin: 0;
     padding: 0;
     height: 100vh;
     overflow: hidden;
}
.app{
    overflow: hidden;
    video{
        height: 100vh;
        filter: brightness(30%);
        position: fixed;
        top: 0;
    }
}
.content{
    position: relative;
    z-index: 100;
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.8) inset;
    h1{
        color: plum;
        font-size: 60px;
    }
}

.heart__block{
    position: absolute;
    animation: chameleon 1 3s ease;
    opacity: 0;
    .heart{
        animation: swing 2.5s ease infinite ;
        position: relative;
        transition: all 0.5s;
        div{
            width: 80px;
            height: 50px;
            background-color: red;
            transition: all 0.5s;
            box-shadow: 0 0 20px red;
        }
        .left__piece{
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            position: absolute;
            transform: rotate(45deg) translate(-20%, 0);
        }
        .right__piece{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            position: absolute;
            transform: rotate(-45deg) translate(20%, 0);
    
        }
    }
}

@keyframes swing {
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
}

@keyframes chameleon {
    0%{
        bottom: 0%;
        opacity: 1;
        transform: translate(0, -100%);
    }
    
    100%{
        filter: hue-rotate(0deg); 
        opacity: 0;
    }
}